.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
  min-height: 50px;
}

.input {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14pt;
  padding: 10px;
}

.suggestions {
  margin: 0.5rem 0;
}

.suggestionWrapper {
}

.suggestion {
  padding: 1rem 0.5rem;
  border-radius: 8px;
  display: inline-block;
  margin: 0 0 5px 0;
  width: 100%;
  min-height: 50px;
  background-color: black;
  color: white;
}

.mainText {
  display: block;
  font-size: 14pt;
}

.secondaryText {
  color: lightgrey;
  font-size: 10pt;
}
